# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
*.db
backend/uploads/

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.idea/
mobile/*.iml

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Secrets
.env.local
.env.production
